body{
    background-image: url("wpapersApple.jpg");
    background-repeat:  no-repeat;
    background-color: #E6E6FA;
}

h1 {

    color: #8D8D8D;
    text-align: center;
}
h2 {
    color: darkblue;
    font-size: 24px;
    text-align: center;
    margin-right: 80px;
    margin-left: 80px;
}
